body {
  background-color: var(--tg-theme-bg-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
  overflow: hidden;
}

h1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: 60px;
  margin: 0;
  font-family: 'REM-VariableFont_wght';
  background-color: white;
  color: #FFFFFF;
  padding: 30px 30px;
  background-color: #181818;
  text-align: center;
  font-family: Arial, sans-serif;
}

.image-block {
  position: relative;
  z-index: 1;
  width: calc(100% - 100px);
  height: 33.33vh; /* Изменено на 33.33% */
  margin-bottom: 40px;
  max-width: 70%;
  border-radius: 100px;
  overflow: hidden;

}

.image-block a {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.image-block img:hover {
  border-radius: 100px;
  transform: scale(0.95);
  outline: 5px solid green;
}
