.u-section-1{
	background-color: var(--tg-theme-bg-color);
}
.u-header{
	background-color: var(--tg-theme-bg-color);
	position: sticky;
	z-index: 2;
	top: 0;
}
.u-section-1 .u-sheet-1 {
  min-height: 1313px;
}
.u-text-1{
	color:var(--tg-theme-text-color);
}
.u-menu-1{
	color:black;
}
.u-section-1 .u-image-1 {
  width: 170px;
  height: 119px;
  margin: -170px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 13px 28px 0 auto;
  padding: 9px 19px 11px 18px;
}

.u-section-1 .u-image-2 {
  width: 170px;
  height: 119px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 157px;
  height: 119px;
  margin: -171px auto 0 183px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 13px auto 60px 211px;
  padding: 9px 19px 11px 18px;
}

.u-section-1 .u-image-4 {
  width: 169px;
  height: 119px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 13px auto 60px;
  padding: 9px 19px 11px 18px;
}

.u-section-1 .u-image-5 {
  width: 170px;
  height: 119px;
  margin: -595px auto 0 0;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 13px auto 60px 32px;
  padding: 9px 20px 11px 19px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 166px auto 60px 33px;
  padding: 9px 20px 11px 19px;
}

.u-section-1 .u-image-6 {
  width: 150px;
  height: 119px;
  margin: 36px 0 60px auto;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 10px 25px 60px auto;
  padding: 9px 18px 11px 17px;
}

.u-section-1 .u-image-7 {
  width: 150px;
  height: 119px;
  margin: 26px auto 60px 0;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 10px auto 60px 25px;
  padding: 9px 18px 11px 17px;
}

.u-section-1 .u-image-8 {
  width: 150px;
  height: 119px;
  margin: -168px 0 0 auto;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 10px 25px 60px auto;
  padding: 9px 18px 11px 17px;
}

.u-section-1 .u-image-9 {
  width: 169px;
  height: 119px;
  margin: 25px auto 0 0;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 10px auto 41px 35px;
  padding: 9px 18px 11px 17px;
}

.u-section-1 .u-image-10 {
  width: 150px;
  height: 119px;
  margin: -168px 0 60px auto;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 10px 25px 0 auto;
  padding: 9px 18px 11px 17px;
}

.u-section-1 .u-image-11 {
  width: 150px;
  height: 119px;
  margin: 25px auto 0 0;
}

.u-section-1 .u-btn-11 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 10px auto 44px 26px;
  padding: 9px 18px 11px 17px;
}

.u-section-1 .u-image-12 {
  width: 150px;
  height: 119px;
  margin: -168px 0 60px auto;
}

.u-section-1 .u-btn-12 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin: 10px 25px 60px auto;
  padding: 9px 18px 11px 17px;
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 150px;
    height: 120px;
    margin-top: 32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-right: 25px;
    padding-top: 10px;
    padding-right: 18px;
    padding-left: 17px;
  }

  .u-section-1 .u-image-2 {
    width: 150px;
    height: 120px;
    margin-top: 34px;
  }

  .u-section-1 .u-image-3 {
    width: 150px;
    height: 120px;
    margin-top: -119px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 25px;
    margin-bottom: 0;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 18px;
    padding-left: 17px;
  }

  .u-section-1 .u-image-4 {
    width: 150px;
    margin-top: 36px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 26px;
    padding-right: 18px;
    padding-left: 17px;
  }

  .u-section-1 .u-image-5 {
    width: 150px;
    height: 120px;
    margin-top: -582px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 25px;
    padding-top: 10px;
    padding-right: 18px;
    padding-left: 17px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 168px;
    margin-bottom: 0;
    margin-left: 25px;
    padding-top: 10px;
    padding-right: 19px;
    padding-left: 17px;
  }

  .u-section-1 .u-image-6 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-7 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-9 {
    width: 150px;
  }

  .u-section-1 .u-btn-9 {
    margin-bottom: 0;
    margin-left: 26px;
  }

  .u-section-1 .u-image-10 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-bottom: 0;
  }

  .u-section-1 .u-image-12 {
    margin-bottom: 0;
  }
}
