 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2658px;
}

.u-section-1 .u-image-1 {
  width: 221px;
  height: 117px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 110px auto 0 119px;
}

.u-section-1 .u-image-2 {
  width: 800px;
  min-height: 462px;
  height: auto;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/IMG_20230302_172049_521.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 23px;
}

.u-section-1 .u-text-1 {
  margin: 48px auto 0 25px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.71;
  margin: 39px auto 0 25px;
}

.u-section-1 .u-image-3 {
  width: 200px;
  height: 143px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 165px 39px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 800px;
  min-height: 713px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 50px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.71;
  margin: 39px 88px 0 92px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  line-height: 2;
  margin: 8px auto 0;
}

.u-section-1 .u-image-4 {
  width: 167px;
  height: 134px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 47px 360px 0 auto;
}

.u-section-1 .u-group-3 {
  width: 807px;
  min-height: 524px;
  height: auto;
  margin: 0 auto 60px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 43px 296px 0 96px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  line-height: 1.66;
  margin: 39px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-2 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    width: 720px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 48px;
    margin-left: 52px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 253px;
    margin-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 126px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 752px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: -31px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 173px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 40px 59px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}